:root{
    --green:hsl(75, 94%, 57%);
    --white:hsl(0, 0%, 100%);
    --gray-700:hsl(0, 0%, 20%);
    --gray-800:hsl(0, 0%, 12%);
    --gray-900:hsl(0, 0%, 8%);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
     height: 100vh;
     background-color: var(--gray-900);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
}
.card {
    max-width: 384px;
    padding: 36px;
    background-color: var(--gray-800);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
}
.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card-header img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.card .card-header .card-header--title{
    text-align: center;
}
.card .card-header .card-header--title h2{
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 6px;
}

.card .card-header .card-header--title h3{
    color: var(--green);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.card .card-header h4{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}
.card-body{
    width: 100%;
}
.card-body ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-body ul li a {
    padding: 6px 0;
    display: inline-block;
    color: var(--white);
    background-color: var(--gray-700);
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 10px;
}
.card-body ul li a:hover {
    background-color: var(--green);
    color: var(--gray-900);
}

@media only screen and (max-width: 375px) {
    .card {
        padding: 20px;
        max-width: 350px;
    }
    .h4{
        font-size: 12px;
    }
}